body {
  font-family: Arial, sans-serif;
  margin: 0;
}
a {
  margin-right: 10px;
}
button {
  padding: 8px 12px;
  cursor: pointer;
}

.input {
  @apply w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-black;
}

